@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Medium.eot');
    src: local('Unbounded Medium'), local('Unbounded-Medium'),
        url('Unbounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Medium.woff2') format('woff2'),
        url('Unbounded-Medium.woff') format('woff'),
        url('Unbounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Bold.eot');
    src: local('Unbounded Bold'), local('Unbounded-Bold'),
        url('Unbounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Bold.woff2') format('woff2'),
        url('Unbounded-Bold.woff') format('woff'),
        url('Unbounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Regular.eot');
    src: local('Unbounded Regular'), local('Unbounded-Regular'),
        url('Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Regular.woff2') format('woff2'),
        url('Unbounded-Regular.woff') format('woff'),
        url('Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Black.eot');
    src: local('Unbounded Black'), local('Unbounded-Black'),
        url('Unbounded-Black.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Black.woff2') format('woff2'),
        url('Unbounded-Black.woff') format('woff'),
        url('Unbounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Light.eot');
    src: local('Unbounded Light'), local('Unbounded-Light'),
        url('Unbounded-Light.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Light.woff2') format('woff2'),
        url('Unbounded-Light.woff') format('woff'),
        url('Unbounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded Blond';
    src: url('Unbounded-Blond.eot');
    src: local('Unbounded Blond'), local('Unbounded-Blond'),
        url('Unbounded-Blond.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Blond.woff2') format('woff2'),
        url('Unbounded-Blond.woff') format('woff'),
        url('Unbounded-Blond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

